<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GenTop - Dose Calculator</title>

    <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
  </head>
  <body id="page-top">
    <div class="content-wrapper" id="ibw">
      <div class="container">
        <div class="row jumbotron">
          <div class="col-12">
            <h2>GenTop <small class="text-muted">Dose Calculator</small></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form action="javascript:void(0);">
              <div class="form-group">
                <label for="length">Length (cm)</label>
                <input v-model="input.length" type="text" pattern="\d*" class="form-control" id="length" aria-describedby="lengthHelp" placeholder="Enter length">
              </div>
              <div class="form-group">
                <label for="weight">Weight (kg)</label>
                <input v-model="input.weight" type="text" pattern="\d*" class="form-control" id="weight" aria-describedby="weightHelp" placeholder="Enter weight">
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select v-model="input.gender" id="gender" class="form-control" aria-describedby="genderHelp">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="dosage">Desired gentamicine dosage (mg/kg)</label>
                <select v-model="input.dosage" id="dosage" class="form-control" aria-describedby="dosageHelp">
                  <option value="3">3 mg/kg</option>
                  <option value="5">5 mg/kg</option>
                  <option value="6">6 mg/kg</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row jumbotron">
          <div class="col-12 text-center">
            <p class="lead">total gentamicine dose</p>
            <h1>{{formatNumber(dose,0)}} mg</h1>
          </div>
        </div>
        <div class="footer text-center text-muted">
          <dl class="row">
            <dt class="col-sm-6">body mass index</dt>
            <dd class="col-sm-6">{{formatNumber(bmi,1)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">ideal body weight</dt>
            <dd class="col-sm-6">{{formatNumber(ibw,1)}} kg</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">excess body weight</dt>
            <dd class="col-sm-6">{{formatNumber(ebw,1)}} kg</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">adjusted body weight</dt>
            <dd class="col-sm-6">{{formatNumber(abw,1)}} kg</dd>
          </dl>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="lib/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/vuejs-2.5.13/vue.js"></script>

    <script type="text/javascript">
      ibw = new Vue({
        el: '#ibw',
        data: {
          input: {
            length: '',
            weight: '',
            gender: '',
            dosage: '',
          },
          dwcf: 0.4,
        },
        computed: {
          length: function() {
            return parseFloat(this.input.length);
          },
          dosage: function() {
            return parseInt(this.input.dosage);
          },
          tbw: function() {
            return parseFloat(this.input.weight);
          },
          ibw: function() {
            var r = 45.4 + (0.89 * (this.length - 152.4));
            if (this.input.gender == "Male") r += 4.5;
            if (isNaN(this.length) || r < 0 || this.input.gender == "") return NaN;
            return r;
          },
          ebw: function() {
            return this.tbw - this.ibw;
          },
          abw: function() {
            return this.ibw + (this.dwcf * this.ebw);
          },
          bmi: function() {
            return this.tbw / Math.pow(this.length/100,2);
          },
          dose: function() {
            return this.dosage * this.abw;
          },
        },
        methods: {
          formatNumber: function(n,f) {
            if (isNaN(n)) return '-';
            return n.toFixed(f);
          }
        }
      });
    </script>
  </body>
</html>
