<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ideal Body Weight</title>

    <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
  </head>
  <body id="page-top">
    <div class="content-wrapper" id="ibw">
      <div class="container">
        <div class="row jumbotron">
          <div class="col-12">
            <h1>Ideal Body Weight</h1>
            <p class="lead">This thing will require some explanation right here.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form action="javascript:void(0);">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="length">Length (cm)</label>
                    <input v-model="input.length" type="text" class="form-control" id="length" aria-describedby="lengthHelp" placeholder="Enter length">
                    <small id="lengthHelp" class="form-text text-muted">Enter your length in centimeters.</small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="weight">Weight (kg)</label>
                    <input v-model="input.weight" type="text" class="form-control" id="weight" aria-describedby="weightHelp" placeholder="Enter weight">
                    <small id="weightHelp" class="form-text text-muted">Enter your weight in kilograms.</small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <select v-model="input.gender" id="gender" class="form-control" aria-describedby="weightHelp">
                      <option selected>Male</option>
                      <option>Female</option>
                    </select>
                    <small id="genderHelp" class="form-text text-muted">Choose your gender.</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row jumbotron">
          <div class="col-12 text-center">
            <p class="lead">ideal body weight is</p>
            <h1>{{formatNumber(ibw)}} kg</h1>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="lib/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/vuejs-2.5.13/vue.js"></script>

    <script type="text/javascript">
      ibw = new Vue({
        el: '#ibw',
        data: {
          input: {
            length: '',
            weight: '',
            gender: 'Male',
          },
        },
        computed: {
          test: function() {
            return this.input.length + this.input.weight + this.input.gender;
          },
          ibw: function() {
            var l = parseFloat(this.input.length);
            var r = 45.4 + (0.89 * (l - 152.4));
            if (this.input.gender == "Male") r += 4.5;
            if (isNaN(l) || r < 0) return NaN;
            return r;
          },
        },
        methods: {
          formatNumber: function(n) {
            if (isNaN(n)) return '-';
            return n.toFixed(2);
          }
        }
      });
    </script>
  </body>
</html>
