<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GenTop</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107735623-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107735623-1');
    </script>

    <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <style>
      .alert {
        margin-bottom: 5px;
      }
    </style>
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
  </head>
  <body id="page-top">
    <div class="content-wrapper" id="ibw">
      <div class="container">
        <div class="row jumbotron">
          <div class="col-12">
            <h2>GenTop <small class="text-muted">Dose Calculator</small></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form action="javascript:void(0);">
              <div class="form-group">
                <label for="length">Length (cm)</label>
                <input v-model="input.length" type="text" pattern="\d*" class="form-control" id="length" placeholder="Enter length">
              </div>
              <div class="form-group">
                <label for="weight">Weight (kg)</label>
                <input v-model="input.weight" type="text" pattern="\d*" class="form-control" id="weight" placeholder="Enter weight">
              </div>
              <div class="form-group" v-for="(w,j) in params.inputs">
                <label :for="j">{{w.name}}</label>
                <div v-for="(v,i) in w.options">
                  <div :class="[ (i==input[j]) ? 'alert alert-primary font-weight-bold' : 'alert alert-secondary']" v-on:click="input[j] = i">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" :name="j" :id="i" :value="i" v-model="input[j]">
                      <label class="form-check-label" :for="v">{{v}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row jumbotron">
          <div class="col-12 text-center">
            <p class="lead">total gentamicin dose</p>
            <h1>{{formatNumber(dose_rounded,0)}} mg</h1>
            <p class="text-muted" v-if="is_dose_rounded(0)">rounded from {{formatNumber(dose,0)}} mg</p>
          </div>
        </div>
        <div class="footer text-center text-muted">
          <dl class="row">
            <dt class="col-sm-6">body mass index</dt>
            <dd class="col-sm-6">{{formatNumber(bmi,1)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">total body weight</dt>
            <dd class="col-sm-6">{{formatNumber(tbw,1)}} kg</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">ideal body weight</dt>
            <dd class="col-sm-6">{{formatNumber(ibw,1)}} kg</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">excess body weight</dt>
            <dd class="col-sm-6">{{formatNumber(ebw,1)}} kg</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-6">adjusted body weight</dt>
            <dd class="col-sm-6">{{formatNumber(abw,1)}} kg</dd>
          </dl>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="lib/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/vuejs-2.5.13/vue.js"></script>

    <script type="text/javascript">
      ibw = new Vue({
        el: '#ibw',
        data: {
          input: {
            length: '',
            weight: '',
            gender: '',
            dosage: '',
          },
          params: {
            dwcf: 0.4,
            dose_precision: 20,
            inputs: {
              gender: {
                name: 'Gender',
                options: {m: 'Male',f: 'Female'},
              },
              dosage: {
                name: 'Desired gentamicin dosage (mg/kg)',
                options: {3: '3 mg/kg', 5: '5 mg/kg', 6: '6 mg/kg'},
              },
            },
          },
        },
        computed: {
          length: function() {
            return parseFloat(this.input.length);
          },
          dosage: function() {
            return parseInt(this.input.dosage);
          },
          tbw: function() {
            return parseFloat(this.input.weight);
          },
          ibw: function() {
            var r = 45.5 + (0.89 * (this.length - 152.4));
            if (this.input.gender == "m") r += 4.5;
            if (isNaN(this.length) || r < 0 || this.input.gender == "") return NaN;
            return r;
          },
          ebw: function() {
            return this.tbw - this.ibw;
          },
          abw: function() {
            return this.ibw + (this.params.dwcf * this.ebw);
          },
          bmi: function() {
            return this.tbw / Math.pow(this.length/100,2);
          },
          dose: function() {
            return this.dosage * this.abw;
          },
          dose_rounded: function() {
            return (this.dose / this.params.dose_precision).toFixed(0) * this.params.dose_precision;
          },
        },
        methods: {
          formatNumber: function(n,f) {
            if (isNaN(n)) return '-';
            return n.toFixed(f);
          },
          is_dose_rounded: function(f) {
            return !isNaN(this.dose) && this.dose.toFixed(f) != this.dose_rounded.toFixed(f);
          },
        }
      });
    </script>
  </body>
</html>
